.section-updates {
  height: 600px;
  width: 100%;
}

.updates-container {
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding-top: 50px;
}

.updates-list {
  padding-top: 50px;
  list-style: none;
}
