.container {
  width: 100%;
  // min-height: 80vh;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  margin: auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section {
  width: 70%;
  margin: 40px auto;
}

.sectionTitle {
  color: whitesmoke;
  margin-bottom: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.company {
  margin-top: 0;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.linesContainer {
  width: 100%;
}

.linkContainer {
  height: 150px;
  display: flex;
}

.link {
  margin: auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
