.container {
  height: 60px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
}

.linksContainer {
  //   width: 50%;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  height: 100%;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
}
