.container {
  width: 100%;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  margin: auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.paragraph {
  width: 70%;
  margin: 40px auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
