.container {
  width: 100%;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  margin: auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.paragraph {
  width: 70%;
  margin: 40px auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.linkContainer {
  height: 150px;
  display: flex;
}

.link {
  margin: auto;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.image {
  float: left;
  width: 300px;
  height: 300px; /* must define height to allow shape-outside to work */
  border-radius: 50%;
  shape-outside: circle(); /* tells browser to wrap text around the circle */
  margin: 0 25px 10px 0;
  object-fit: cover; /* optional for nicer image crop */
}

.greenLink {
  margin: auto;
  color: #00ff99;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .image {
    width: 150px;
    height: 150px; /* must define height to allow shape-outside to work */
  }
}
