.container {
  width: 80%;
  min-height: 80vh;
  display: flex;
  margin: auto;
  position: absolute;
  // top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.textContainer {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  // background-color: aqua;
}

.header,
.subheader {
  // text-align: center;
  margin-bottom: 0;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.imageContainer {
  // background-color: blue;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.description {
  // align-items: center;
  // text-align: center;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
  // align-items: center;
  // text-align: center;
  // margin: auto;
}

.navListItem {
}

.navListLink {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
