.container {
  width: 80%;
  min-height: 50vh;
  display: flex;
  height: 100%;
  margin: 50px auto;
}

.textContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header,
.subheader {
  text-align: center;
  margin-bottom: 0;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.imageContainer {
  background-color: blue;
  width: 40%;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
  align-items: center;
}

.navListLink {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
