$dark-background: rgb(15 23 42);

.intro {
  height: 700px;
  display: flex;
}

.intro.dark {
  background-color: $dark-background;
}

.name {
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .intro {
    height: 1000px;
  }
}
