.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: transparent;
  color: black;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 20px;
}

// navbar.css
.hamburger {
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger-menu {
  width: 30px;
}

.link {
  text-decoration: none;
  display: block;
  color: black;
}

.link:hover {
  color: limegreen;
}

.active {
  text-decoration: underline;
}

// navbar.css
@media screen and (max-width: 480px) {
  .navigation-menu ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navigation-menu.expanded ul {
    display: block;
    height: auto;
    border-bottom: 1px black solid;
  }

  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 70px;
    background-color: white;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
