.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  //   background-color: aquamarine;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

.navbar-links {
  margin-right: 50px;
  margin-left: auto;
}

.hamburger {
  margin-right: 50px;
  margin-left: auto;
  display: none;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
  color: black;
}

.link:hover {
  color: limegreen;
}

.active {
  text-decoration: underline;
}

@media all and (max-width: 480px) {
  .navbar {
    // background-color: pink;
  }

  .navbar-links {
    display: none;
  }

  .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: auto;
  }
}
