$dark-background: rgb(15 23 42);
$mint: #64ffda;

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: transparent;
  color: black;
}

.navigation.dark {
  background-color: $dark-background;
  color: white;
}

.logo {
  width: 50px;
  margin-left: 50px;
}

.toggle-button {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: transparent;
  vertical-align: middle;
  padding: 5px;
}

.toggle-button.dark {
  border-radius: 10px;
  border: 1px $mint solid;
  color: $mint;
}

.navigation-menu {
  margin-left: auto;
  display: flex;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 20px;
}

// navbar.css
.hamburger {
  border: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  display: none;
}

.hamburger-menu {
  width: 30px;
}

.link {
  text-decoration: none;
  display: block;
  color: black;
}

.link.dark {
  color: white;
  background-color: $dark-background;
}

.link:hover {
  color: limegreen;
}

.link.dark:hover {
  color: $mint;
}

.active {
  text-decoration: underline;
}

// navbar.css
@media screen and (max-width: 500px) {
  .hamburger {
    display: inline;
    margin-right: 20px;
  }

  .navigation-menu.expanded ul {
    display: block;
    height: auto;
    border-bottom: 1px black solid;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 70px;
    background-color: white;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
