.image-linkedin,
.image-github {
  width: 20px;
}

.link-linkedin,
.link-github {
  text-decoration: none;
  color: black;
}

.link-linkedin:hover,
.link-github:hover {
  text-decoration: underline;
}
