.footer {
  width: 100%;
  height: 400px;
}

.profiles-row {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.links-row {
  text-align: center;
  height: 50px;
}

.footer-image {
  width: 25px;
}

.footer-link {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  margin: 20px;
}

.footer-links-divder {
  font-size: 30px;
  vertical-align: middle;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  vertical-align: middle;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
