.footer {
  width: 100%;
  height: 400px;
  min-width: 360px;
}

.profiles-row {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.links-row {
  height: 50px;
  display: flex;
}

.column {
  width: 50%;
}

.column1 {
  text-align: right;
}

.link-left {
  padding-right: 20px;
  border-right: 1px solid;
}

.link-right {
  padding-left: 20px;
  border-left: 1px solid;
}

.footer-image {
  width: 25px;
}

.footer-link {
  text-decoration: none;
  color: black;
  vertical-align: middle;
  margin: 20px;
  width: 300px;
}

.pages-link {
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.footer-links-divider {
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  vertical-align: middle;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.button-resume-download {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
}

.button-resume-download:hover {
  background-color: lightcoral;
}

.download-link {
  color: black;
  text-decoration: none;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 420px) {
  .button-resume-download {
    width: 150px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .button-resume-download:hover {
    background-color: lightcoral;
  }
}
