.photos-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.photos-grid-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.photos-grid-item.animate {
  animation: fadeIn 5s;
}

.grid-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photos-grid-item.expand {
  position: absolute;
  top: 0;
  left: 0;
}

.photo-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.335);
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  display: none;
}

.photo-location {
  width: 100%;
  text-align: center;
}

.reveal {
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .photos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
