.aboutCard {
  width: 500px;
  height: auto;
  padding: 20px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  // border: 1px solid black;
  //   box-shadow: 0 0 5px;
}
