$faint-white: rgba(255, 255, 255, 0.844);

.card-container {
  margin: 150px;
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 360px;
}

.card-container.dark {
  color: $faint-white;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .card-container {
    width: auto;
    margin: 50px;
  }
}


@media screen and (max-width: 600px) {
  .card-container {
    width: auto;
    margin: 50px;
  }
}
