.education-body {
  padding: 10px 0 20px 0;
}

.education-university,
.education-period {
  display: inline;
}

.education-period {
  margin-left: 5px;
}

.education-university {
  font-size: 20px;
}
