// .card-experience {
//   margin-top: 50px;
//   display: flex;
//   height: 470px;
//   margin-bottom: 50px;
//   width: 800px;
//   margin-left: auto;
//   margin-right: auto;
//   border-radius: 20px;
//   border: 30px;
//   overflow: hidden;
// }

// .column1,
// .column2 {
//   width: 50%;
//   height: 100%;
// }

// .card-subheader {
//   margin-left: 10px;
// }

// .column1 {
//   text-align: center;
// }

// .column2 {
//   text-align: left;
// }

// .card-list-item {
//   margin-bottom: 10px;
//   margin-right: 20px;
// }
