.div-typed {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
}

.title-name {
  height: auto;
  font-size: 50px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.title-name.dark {
  color: white;
}

@media screen and (max-width: 480px) {
  .div-typed {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .title-name {
    font-size: 35px;
  }
}
