.div-typed {
  width: 850px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.title-name {
  font-size: 50px;
  text-align: center;
}

.title-name.dark {
  color: white;
}

@media screen and (max-width: 480px) {
  .div-typed {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .title-name {
    font-size: 35px;
  }

}